:root {
  --red: #ff151f;
  --dred: #bb1b1f;
  --grey: #11191e;
  --dgrey: #2c353b;
  --mgrey: #434d54;
  --lgrey: #e7edf1;

  --size-xxl: 200px;
  --size-xl: 150px;
  --size-l: 100px;
  --size-m: 50px;
  --size-s: 25px;
  --size-xs: 12.5px;
  --size-xxs: 6px;

  --shadow: 1px 1px 1px rgba(44, 53, 59, 0.5);
}

html {
  box-sizing: border-box;
  line-height: 1.25;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 200px;
  @media screen and (max-width: 625px) {
    overflow-x: hidden;
  }
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}
a {
  background-color: transparent;
  color: var(--red);
  text-decoration: none;
}
a:hover,
a:active {
  outline: 0;
}
img {
  display: block;
  border-style: none;
  height: auto;
  max-width: 100%;
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: 1.15;
  @media screen and (max-width: 625px) {
    font-size: 2.75em;
  }
}

h2 {
  font-size: 3.75em;
}

h2 + * {
  margin-top: 1.5rem;
}

p {
  font-size: 1.125em;
}
