div {
  display: block;
}
.group-tours .grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: var(--size-m);
}
.contain {
  max-width: 1700px;
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--size-m);
  padding-right: var(--size-m);
}
.group-tour-info {
  grid-column: 1 / 3;
}
h2 {
  display: block;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: 1.15;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 3.75em;
}
img {
  display: block;
  border-style: none;
  height: auto;
  max-width: 100%;
  width: 533px;
  aspect-ratio: auto 533 / 31;
}
.divider {
  margin: 0 0 var(--size-s);
}
.wrapper {
  padding-top: var(--size-l);
  padding-bottom: var(--size-l);
}
p + *,
ol + *,
ul + * {
  margin-top: 1.5rem;
}
p {
  font-size: 1.125em;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
a:-webkit-any-link {
  cursor: pointer;
}
.btn,
._submit,
input[type="submit"] {
  display: inline-block;
  padding: var(--size-xs) var(--size-s);
  font-weight: 700;
  color: #fff;
  background: var(--red);
  text-align: center;
  border: 0;
  border-radius: var(--size-m);
  text-decoration: none !important;
  transition: all 0.5s ease;
}

.btn i {
  margin-left: var(--size-xs);
  transition: all 0.5s ease;
}
.fas {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.group-tour:nth-child(2) {
  grid-column: 1 / 3;
  grid-row: 2;
}
.each-container {
  position: relative;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.each-container-br::after {
  top: var(--size-xs);
  left: var(--size-xs);
}
.each-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px dashed var(--red);
  border-radius: var(--size-s);
  z-index: -1;
  transition: all 0.5s ease;
}
.group-tour-inner {
  flex-basis: 100%;
  overflow: hidden;
}
.br-s {
  border-radius: var(--size-s);
}
.group-tour-title {
  flex-basis: 100%;
  align-self: flex-end;
  background: var(--dgrey);
  color: #fff;
  padding: var(--size-xs) var(--size-s);
  font-weight: 700;
  transition: padding 0.5s ease, background 0.5s ease;
}
.group-tour:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}
.group-tour:nth-child(4) {
  grid-column: 4 / 4;
  grid-row: 1;
}
.group-tour:nth-child(5) {
  grid-column: 5 / 7;
  grid-row: 1;
}
.group-tour-inner {
  flex-basis: 100%;
  overflow: hidden;
}
