header img {
  width: 24px;
  height: 24px;
}

.site-header-inner {
  position: relative;
  background-color: #fff;
}

.container {
  width: 95%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

@media (min-width: 768px) {
  .container {
    height: 145px;
  }
}

.site-logo {
  width: 170px;
  height: 50%;
  margin-right: 1.5em;
}

@media (min-width: 768px) {
  .site-logo {
    width: 280px;
  }
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1.3em;
}

.main-navigation__square {
  background-color: #ff151f;
  padding: 12px;
  border-radius: 8px;
  position: relative;
  z-index: 100;
  cursor: pointer;
}

.prime-navigation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.secondary-navigation {
  display: none;
}

@media (min-width: 768px) {
  .secondary-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    border-bottom: 1px #eee solid;
    margin-bottom: 1em;
    width: 550px;
  }
  .secondary-navigation p {
    margin: 0 1em 1em;
  }
}

@media (min-width: 1024px) {
  .secondary-navigation {
    width: 800px;
  }
}

.font-red {
  color: #ff151f;
  font-weight: bold;
  font-size: 16px;
}

.font-light {
  font-weight: lighter;
  font-size: 14px;
}

.point {
  font-weight: bolder;
  font-size: 21px;
}

.prime-laptop {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1.2em;
}

.hamburger {
  display: block;
}

@media (min-width: 1150px) {
  .hamburger {
    display: none;
  }
}

@media (min-width: 1150px) {
  .main-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.travel-button {
  display: none;
  background-color: #ff151f;
  color: #fff;
  font-size: 18px;
  padding: 12.5px 25px;
  border-radius: 25px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  height: 25px;
  cursor: pointer;
}

.travel-button p {
  text-align: center;
  margin-right: 1em;
}

.travel-button:hover {
  background-color: #bb1b1f;
}

@media (min-width: 1150px) {
  .travel-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.menu-laptop {
  display: none;
}

@media (min-width: 1150px) {
  .menu-laptop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
}

.plane-icon {
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(90deg) translateX(-10px);
          transform: rotate(90deg) translateX(-10px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.plane-icon:hover {
  -webkit-transform: rotate(90deg) translate(-10px, -10px);
          transform: rotate(90deg) translate(-10px, -10px);
}

.hide {
  display: none;
}

.hide a {
  display: block;
  background-color: #ff151f;
  padding: 20px 20px;
  width: 250px;
  border-bottom: 1px #eee dotted;
  text-decoration: none;
  color: #fff;
}

.prime-laptop:hover + .hide {
  display: block;
}

.hover-menu1 {
  position: absolute;
  top: 73px;
  left: 0;
}

.hover-menu2 {
  position: absolute;
  top: 73px;
  left: 20%;
}

.hover-menu3 {
  position: absolute;
  top: 73px;
  left: 40%;
}

.hover-menu4 {
  position: absolute;
  top: 73px;
  left: 40%;
}

.main-modal {
  background-color: #ff151f;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-modal ul > li {
  color: #fff;
  font-size: 18px;
  margin: 1.5em 0;
  text-align: center;
  cursor: pointer;
  list-style: none;
}

.search-bar {
  position: fixed;
  z-index: 10;
  top: 100px;
  left: 0;
  width: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateY(-150px);
          transform: translateY(-150px);
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ff151f;
}

@media (min-width: 768px) {
  .search-bar {
    top: 145px;
  }
}

.search-bar input {
  margin: 12px;
  padding: 8px 12px;
  width: 85%;
  border: none;
  font-size: 16px;
}

@media (min-width: 768px) {
  .search-bar input {
    font-size: 30px;
    width: 90%;
  }
}

#search-button {
  cursor: pointer;
}
/*# sourceMappingURL=header.css.map */