.hero-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  @media (min-width: 1050px) {
    display: flex;
    justify-content: left;
  }
}

.hero-wrap {
  width: 80%;
  color: #fff;
  text-align: center;
  & h1 {
    width: 90%;
    margin: 0 auto;
    font-size: 3.5em;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    margin-top: 0.5em;
    @media (min-width: 768px) {
      width: 80%;
      font-size: 5.5em;
      margin-top: 96px;
    }
  }
  & img {
    display: block;
    width: 300px;
    margin: 0.5em auto;
    @media (min-width: 768px) {
      width: 600px;
      height: 100px;
    }
  }
  & h4 {
    font-size: 1.5em;
    @media (min-width: 768px) {
      font-size: 2.25em;
    }
  }
  & h5 {
    font-size: 1.25em;
    margin-top: 1em;
    @media (min-width: 768px) {
      font-size: 1.5em;
    }
  }
  @media (min-width: 1050px) {
    text-align: left;
    & h1,
    img,
    h4,
    h5 {
      margin-left: 50px;
    }
  }
}

.hero-link_container {
  margin: 2em auto;
  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 96px;
  }
  @media (min-width: 1050px) {
    justify-content: left;
    margin-left: 50px;
  }
}

.hero-link {
  height: 30px;
  background-color: #ff151f;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin: 1em auto;
  border-radius: 25px;
  width: 180px;
  & img {
    width: 18px;
    height: 18px;
  }
  &:hover {
    & p {
      margin-right: 25px;
      transition: all 0.5s;
    }
  }
  @media (min-width: 768px) {
    height: 75px;
    margin: 10px;
    width: 270px;
    border-radius: 50px;
    & p {
      padding: 20px;
      font-size: 1.5em;
    }
  }
  @media (min-width: 1050px) {
    width: 320px;
  }
}

.hero-bg-image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 600px;
  width: 100vw;
  min-width: 1050px;
  z-index: -1;
  filter: brightness(45%);
  @media (min-width: 768px) {
    height: 850px;
  }
}

.f24 {
  font-size: 24px;
  @media (min-width: 768px) {
    font-size: 36px;
  }
}

.hero-plane-icon {
  width: 20px;
  height: 20px;
  transform: rotate(90deg);
  transition: all 0.5s;
  &:hover {
    transform: translateX(10px) rotate(90deg);
  }
}
