h1,
h2,
h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  line-height: 1.15;
}

h4,
h5,
h6 {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  font-size: 5.625em;
}
h2 {
  font-size: 3.75em;
}
h3 {
  font-size: 3em;
}
h4 {
  font-size: 2.25em;
}
h5 {
  font-size: 1.5em;
}
h6 {
  font-size: 0.875em;
  font-weight: 700;
  letter-spacing: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 + *,
h2 + *,
h3 + *,
h4 + *,
h5 + *,
h6 + *,
p + *,
ol + *,
ul + * {
  margin-top: 1.5rem;
}

p {
  font-size: 1.125em;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.entry-content ul,
.entry-content ol {
  font-size: 1.125em;
}
.list {
  li {
    position: relative;
    padding-left: 1.25em;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font-family: 'Font Awesome 5 Pro';
      font-weight: 400;
      content: '\f105';
      color: var(--red);
    }

    + li,
    ul {
      margin-top: 0.5em;
    }
    ul {
      font-size: 1em;
    }
  }
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.text-white {
  color: #fff;
}
.text-red {
  color: var(--red);
}
.text-xgrey {
  color: var(--xgrey);
}
.text-dgrey {
  color: var(--dgrey);
}
.text-mgrey {
  color: var(--mgrey);
}
.text-lgrey {
  color: var(--lgrey);
}

.text-small {
  font-size: 0.75em;
}

.uc {
  text-transform: uppercase;
}
.ofh {
  overflow: hidden;
}

@media screen and (max-width: 625px) {
  h1 {
    font-size: 3.5em;
  }
  h2 {
    font-size: 2.75em;
  }
  h3 {
    font-size: 2em;
  }
  h4 {
    font-size: 1.375em;
  }
  h5 {
    font-size: 1.25em;
  }
}
